@model WebApplication1.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventBody)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventBody)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishEvent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishEvent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EventId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
