@model WebApplication1.Models.EventType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EventType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDisplayOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDisplayOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventTypeActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventTypeActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EventTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
